  /*TOGGLE DARK MODE*/  
  .dark-mode {
    background-color: black;
    color: white;
  }

  /* Additional styles for elements in dark mode */
.dark-mode #navbar {
  background-color: #090909;
}

  /* SCROLLBAR*/
  /* width */
  ::-webkit-scrollbar {
    width: 20px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px rgb(0, 0, 0); 
    border-radius: 10px;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgb(255, 81, 0); 
    border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background:  rgb(255, 81, 0); 
  }


  /*SCROLL TO TOP BUTTON*/
  #myBtn {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 20px; /* Place the button at the bottom of the page */
    right: 30px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    background-color: rgb(166, 255, 0); /* Set a background color */
    color: rgb(0, 0, 0); /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 15px; /* Some padding */
    border-radius: 10px; /* Rounded corners */
    font-size: 18px; /* Increase font size */
    }
    
    #myBtn:hover {
    background-color: #555; /* Add a dark-grey background on hover */
    }
    
  /* FIRST HEADER AND NAVIGATION BAR */
  @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
  
  .navbar {
      position: fixed;
      color: #000000;
      top: 0;
      width: 100%;
      border-radius: 30px;
      padding:  12px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      z-index: 99;
      overflow: hidden;
      background-color: #d6b3ff;
      line-height: 26px;
  }
  
  .navbar a {
    font-size: 18px;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    margin-left: 50px;
    text-align: center;
    padding: 12px;
    border-radius: 44px;
    line-height: 45px;
}
  
  .logo {
    width: 100px; 
    cursor: pointer; 
  }
  
  .navbar a:hover {
    background-color: #ddd;
    color: black;
  }
  
  .navbar a.active {
    background-color: dodgerblue;
    color: white;
  }
  
  .navbar-right {
    float: right;
  }
  
    /*FIRST MENU LINKS AND CONTENTS*/
   /* current colour hover inside the menu */
   .navbar a:hover {
    background-color: #7600fd;
    color: black;
  }

  /*current content inside first menu*/
  .overlay {
    height: 0%;
    width: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(37, 0, 37);
    overflow-y: hidden;
    transition: 0.5s;
  }
  
  /*current align of content inside first menu*/
  .overlay-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
  }
  
  /*current keeping thing in a list style of content inside first menu*/
  .overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: rgb(255, 81, 0);
    display: block;
    transition: 0.3s;
  }
  
  .overlay a:hover, .overlay a:focus {
    color: #ffffff;
  }
  
  /*current closing button first menu*/
  .overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
  }
  

  /*SECOND MENU LINKS AND CONTENTS*/
  .pedro-overlay {
    height: 0%;
    width: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(12, 39, 0);
    overflow-x: hidden;
    transition: 0.5s;
  }
  
  .pedro-overlay-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
  }
  
  .pedro-overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: rgb(255, 81, 0);
    display: block;
    transition: 0.3s;
  }
  
  .pedro-overlay a:hover, .pedro-overlay a:focus {
    color: #f1f1f1;
  }
  
  .pedro-overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
  }
  
  @media screen and (max-height: 450px) {
    .pedro-overlay {overflow-y: auto;}
    .pedro-overlay a {font-size: 20px}
    .pedro-overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
    }
  }






  /*MOVING TEXT ON IMAGE*/
  .container{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.3),transparent),url(images/friends1.jpg);
    background-size: cover;
    background-position: center;
    padding: 0 8%;
    position: relative;
  }

  .text-box{
    color: #ffffff;
    position: absolute;
    bottom: 8%;
  }
  .text-box p{
    font-size: 50px;
    font-weight: 600;
    margin-left: 10px;
  }
  .text-box h1{
    font-size: 190px;
    line-height: 160px;
    margin-left: 10px;
    color: transparent;
    -webkit-text-stroke: 1px #fff;
    background: url(images/back.png);
    -webkit-background-clip: text;
    background-clip: text;
    background-position: 0 0;
    animation: back 20s linear infinite;
  }
  @keyframes back{
    100%{
        background-position: 2000px 0;
    }
  }
  
  .text-box h3{
    font-size: 40px;
    font-weight: 500;
  }
  .text-box .row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 30px;
  }
  .text-box a{
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
    margin-right: 20px;
    border: 2px solid #fff;
    display: flex;
    align-items: center;
  }
  .text-box a span{
    font-size: 30px;
    line-height: 15px;
    margin-left: 5px;
  }
  .social-icons{
    position: absolute;
    right: 5%;
    bottom: 8%;
  }
  .social-icons img{
    width: 65px;
    display: block;
    margin: 25px 5px;
  }





  /*FIRST HEADER*/
* {
  box-sizing: border-box;
}


.firstheader {
  padding: 40px;
  text-align: center;
  background: #1abc9c;
  color: white;
}

  /*BLINKING STARS*/
#div1 {
  font-size:38px;
}

 /*SECOND HEADER AND TEXT-DIVIDER*/
* {
  box-sizing: border-box;
}

/* Header/logo Title */
.secondheader {
  padding: 80px;
  text-align: center;
  background: #1abc9c;
  color: white;
}

/* Increase the font size of the heading */
.secondheader h1 {
  font-size: 40px;
}

.divider {
  font-size: 30px;
  display: flex;
  align-items: center;
}

.divider::before, .divider::after {
  flex: 1;
  content: '';
  padding: 3px;
  background-color: rgb(103, 0, 159);
  margin: 5px;
}


/*LEFT PICTURE AND RIGHT*/
.mains {   
  -ms-flex: 70%; /* IE10 */
  flex: 70%;
  background-color: rgb(125, 251, 192);
  padding: 20px;
}

.row{
  width: 80%;
  max-width: 1170px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 50px;
  overflow-x: hidden;
  padding: 5rem 0;
}
.row .imgWrapper{
  overflow: hidden;
}
.row .imgWrapper img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: 0.3s;
}
.row .imgWrapper:hover img{
  transform: scale(1.25);
}
.row .contentWrapper{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 30px;
}
.row .contentWrapper span.textWrapper{
  display: block;
  font-size: 20px;
  text-transform: capitalize;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 15px;
  margin-bottom: 20px;
}
.row .contentWrapper span.textWrapper span{
  display: inline-block;
  background: #383f47;
  width: 70px;
  height: 5px
}
.row .contentWrapper h2{
  font-size: 40px;
  font-weight: 700;
  color: #383f47;
  padding-bottom: 20px;
}
.row .contentWrapper p{
  font-size: 16px;
  line-height: 25px;
  padding-bottom: 25px;
}
.row .contentWrapper a{
  display: inline-block;
  text-decoration: none;
  text-transform: uppercase;
  background: #383f47;
  color: #fff;
  padding: 15px 40px;
  letter-spacing: 1px;
  user-select: none;
}
  

  /*FOUR BARS OF CARDS*/  
    /* Float four columns side by side */
    .bar-column {
      float: left;
      width: 25%;
      padding: 35px;
    }
    
    .bar-row {margin: 0 5px;}
    
    /* Clear floats after the columns */
    .bar-row:after {
      content: "";
      display: table;
      clear: both;
    }
    
    /* Responsive columns */
    @media screen and (max-width: 600px) {
      .bar-column {
        width: 100%;
        display: block;
        margin-bottom: 10px;
      }
    }
    




  /*FOOTER */
  .footer {
    position: fixed;
    left: 0;        
    bottom: 0;
    width: 100%;
    line-height: 15px;
    background-color: rgb(255, 115, 0);
    color: white;
    text-align: center;
    font-size: 18px;
  }







  /*FRIENDS PICS*/


@import url("https://fonts.googleapis.com/css2?family=Jost:wght@400;700&display=swap");


.slider-container{
  width: 100%;
  height: 100vh;
  background-image: url('images/bg-img.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: fit-content;
  display: grid;
  align-items: center;
  justify-content: center;
}
.slider-images{
  display: flex;
  align-items: center;
  gap: -25px;
}
.slider-images img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 6px;
}
.slider-img{
  width: 110px;
  border-radius: 6px;
  cursor: pointer;
  position: relative;
  transition: 0.7s ease;
}
.slider-images .slider-img:first-child, .slider-images .slider-img:last-child{
  height: 380px;
}
.slider-images .slider-img:nth-child(2), .slider-images .slider-img:nth-child(6){
  height: 460px;
}
.slider-images .slider-img:nth-child(3), .slider-images .slider-img:nth-child(4), .slider-images .slider-img:nth-child(5){
  height: 565px;
}
h4{
  font-family: "Jost", sans-serif;
  font-size: 40px;
  font-weight: 700;
  text-align: left;
  text-transform: uppercase;
  color: #fff;
  position: absolute;
  top: 50%;
  left: -10%;
  transform: rotate(270deg);
  transition: 0.7s ease;
}
.details{
  position: absolute;
  bottom: 43px;
  left: 43px;
}
.details h2{
  font-family: "Jost", sans-serif;
  font-size: 26px;
  font-weight: 700;
  text-align: left;
  line-height: 44px;
  text-align: left;
  color: #fff;
  text-transform: uppercase;
  transition: 0.7s ease;
  display: none;
}
.details p{
  font-family: "Jost", sans-serif;
  font-size: 20px;
  font-weight: 700;
  text-align: left;
  line-height: 33px;
  text-align: left;
  color: #fff;
  text-transform: uppercase;
  transition: 0.7s ease;
  display: none;
}
.slider-img.active{
  width: 766px !important;
  height: 750px !important;
}
.slider-img.active h1{
   display: none;
}
.slider-img.active .details p, .slider-img.active .details h2{
  display: block;
}









